@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@layer base {
  
  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }

  .min-width-390 {
    min-width: 390px!important;
  }

  .no-underline-2 {
    text-decoration: none !important;
  }

  .ellipsis-2 {
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .collapse-title-2 {
    top: 0.4rem !important;
  }

  .text-shadow {
    text-shadow: 0 0 black;
  }

  .text-shadow p {
    letter-spacing: 0.2px;
    line-height: 25px;
  }

  .pontinhos-base {
    content: '';
    width: 100%;
    height: 3px;
    display: block;
    background: url(https://tfcszo.vteximg.com.br/arquivos/linha-horizontal-tempo.png);
    background-size: 100%;
    position: absolute;
    bottom: 0;
  }

  .pontinhos {
    content: '';
    width: 3px;
    height: 55px;
    display: block;
    background: url(https://tfcszo.vteximg.com.br/arquivos/linha-do-tempo-linha.png) no-repeat center;
    background-size: 100%;
    margin: 0 auto;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-track::-webkit-scrollbar-track {
    background-color: #e7e7e7
  }

  .scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #fff
  }

  .btn-slider-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000042;
    color: #fff;
  }

  .break-space {
    white-space: break-spaces;
  }

  .itemDots:nth-child(3n+2) {
    display: block;
  }

  /*cores*/
  .bg-color-azul {
    background-color: #0055ff;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

.scrollbar-thumb::-webkit-scrollbar-thumb {
  background-color: #000000
}

.scrollbar-filter::-webkit-scrollbar-track  {
  background-color: #e7e7e7
}

.scrollbar-filter::-webkit-scrollbar {
  width: 5px;
  background-color: #fff
}

.scrollbar-filter::-webkit-scrollbar-thumb  {
  background-color: #e7e7e7
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

.cc-banner.cc-bottom {
  position: relative;
  padding: 0 !important;
}